<h3>Create new post</h3>
<form>
  <div class="form-group">
    <label>Tittle</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Tittle"
    />
  </div>
  <div>
    <label>Tag</label>
    <input
      type="email"
      class="form-control"
      placeholder="Tags"
    />
  </div>

  <div>
    <label for="exampleInputEmail1">Salary</label>
    <input
      type="email"
      class="form-control"
      placeholder="Salary"
    />
  </div>
<br>
  <div class="form-group">
    <label for="jobDescription">Job description</label>
    <div id="jobDescription" [froalaEditor]></div>
  </div>
  <button type="submit" class="btn btn-primary">Create post</button>
</form>
