<div class="job-description">
  <div id="topbar">
    <app-page-sidebar></app-page-sidebar>
  </div>

  <div class="container" style="margin-top: 10px">
    <div class="row">
      <div class="side_bar col-md-3" style="text-align: center;height: 500px;">
        <div class="logo">
          <a href=""
            ><img
              alt="Codebox Solutions Vietnam Big Logo"
              src="https://cdn.itviec.com/employers/codebox-solutions/logo/w170/iyjuPfdRuWT3EQFTo6PCkKms/codebox-solutions-logo.png"
            />
          </a>
        </div>
        <div class="employer-info">
          <div class="name">
            <div class="company-name">
              <a href="">
                <p>Codebox Solutions</p>
              </a>
            </div>
          </div>
          <div class="basic-info">
            <div class="short-info">
              Work on cutting edge technologies and rocket your career!
            </div>
            <p class="gear-icon short">
              <i class="fas fa-cogs"></i>&nbsp;&nbsp;Outsourcing
            </p>
            <p class="group-icon short">
              <i class="fas fa-users"></i>&nbsp;&nbsp;51-150
            </p>
            <div class="country-icon short">
              <i class="far fa-flag"></i>&nbsp;&nbsp;
              <span class="country-name">Viet Nam</span>
            </div>
            <div class="working-date short">
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;
              <span>Monday - Friday</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 job-detail" >
        <div class="header">
          <div class="job-info">
            <h1 class="job-title">
              Software QA Engineer (Manual)
            </h1>
            <div style="float: right;margin-right: 20px">
              <button type="button" class="btn btn-danger font-weight-bold">
                Apply Now
              </button>
            </div>
            <div class="job-info-detail">Salary:&nbsp;<span>5000$</span></div>
            <div class="job-info-detail">
              Address:&nbsp;<span>So 1 Vo Van Ngan</span>
            </div>
            <div class="job-info-detail">Date:&nbsp;<span>3/3/2019</span></div>
          </div>
        </div>
        <div class="job-more-info">
          This area is a job description <br />
          Create it well<br />
          Have fun while doing! <br />
        </div>
      </div>
    </div>
  </div>
</div>
