:host {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  .header-profile {
    margin: 0 auto;
  }

  input[type='file'] {
    visibility: hidden;
  }

  #info-area {
    display: flex;
    flex-direction: column;
    width: 150vh;
    margin-left: 70px;
    .cover {
      button{
        width: max-content;
      }
      margin-left: 50;
      margin-top: 50;
      width: 40;
      height: 70;
      padding: 30px;

      .cover-image {
        height: 40vh;
      }
      .cover-info{
        display: flex;
        flex-flow: row;
        .avatar {
          flex:5;
          margin-left: 50px;
          margin-top: -50px;
  
          img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
          }
        }
        .cover-user-info{
          flex:5;
        }
      }

    }
   
  }

}
