<div id="info-area">
  <div class="header-profile">
    <h1>Welcome back! {{user$.userName}}</h1>
  </div>

  <div class="cover">
    <div class="cover-image">
      <img class="cover-image" src="../../assets/The-Industrialist.png" alt="cover">
    </div>

    <div class="cover-info">
      <div class="avatar">
        <div class="image-container">
            <div *ngIf="!imagePreview"><img src="../../assets/Tho-7-mau.jpg" alt="avatar" (click)="filePicker.click()"></div> 
            <div *ngIf="imagePreview !== '' && imagePreview"><img [src]="imagePreview" alt="avatar" (click)="filePicker.click()"></div>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <h6><strong>{{user$.userName}}</strong></h6>
        <p><strong>{{user$.resume.title}}</strong></p>
      </div>
      <div class="cover-user-info">
        <p>{{user$.email}}</p>
        <p>{{user$.phone}}</p>
      </div>
    </div>

    <button id="btn-update-info" class="btn btn-info" [routerLink]="['/main',user$._id,'edit']">Update your Résume</button>

  </div>

  <section id="info">
    <p>Your last update: {{user$.resume.created | date: 'dd/MM/yyyy' }}</p>
  </section>

</div>
