<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="usermanager"><i class="material-icons">people</i><strong>User management </strong></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="notification"><i class="material-icons">notification_important</i><strong>Notification</strong></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="dashboard"><i class="material-icons">dashboard</i><strong>Dashboard</strong></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="../login" (click)="onLogOut()"><i class="material-icons">exit_to_app</i><strong>Log out</strong></a>
    </li>
  </ul>
</nav>
