
<mat-dialog-content class="mat-experience alternate-theme">
    <h1 mat-dialog-title>Add another experience</h1>

  <mat-form-field>
    <input matInput [(ngModel)]="data.company_name" placeholder="Company name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.title" placeholder="Title/Position">
  </mat-form-field>


  <mat-checkbox color= "warn">Current</mat-checkbox>
  
  <div class="mat-experience-date">
    <mat-form-field>
      <input matInput [(ngModel)]="data.startMonth" placeholder="Start month">
    </mat-form-field> 
    <mat-form-field>
      <input matInput [(ngModel)]="data.startYear" placeholder="Start Year">
    </mat-form-field>  
    <mat-form-field>
      <input matInput [(ngModel)]="data.endMonth" placeholder="End Month">
    </mat-form-field> 
    <mat-form-field>
      <input matInput [(ngModel)]="data.endYear" placeholder="End Year">
    </mat-form-field>
  </div>


  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="mat-raised-button" (click)="close()">Close</button>
  <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</mat-dialog-actions>
