:host {
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;

  button[type='file'] {
    visibility: hidden;
  }
  .line-breaker {
    display: block;
    white-space: pre-line;
  }

  #header-preview {
    width: 100%;
    height: 30px;
  }

  #background-editor {
    background: #5d7480;
    padding: 60px 70px;
    // button{
    //   visibility: hidden;
    // }
    #cv-area {
      height: 297mm;
      width: 210mm;
      app-page-a4-default {
        height: 100%;
        width: 100%;
        display: block;
        background: #FFFFFF;
      }
      app-page-a4-design {
        height: 100%;
        width: 100%;
        display: block;
        background: #FFFFFF;
      }
      app-page-a4-design-blue{
        height: 100%;
        width: 100%;
        display: block;
        background: #FFFFFF;
      }
      app-page-a4-design-blue01{
        height: 100%;
        width: 100%;
        display: block;
        background: #FFFFFF;
      }
      app-page-a4-design-red01{
        height: 100%;
        width: 100%;
        display: block;
        background: #FFFFFF;
      }
    }
  }
}
