/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
  
  }
  
  //scrollbar customize
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ECEFF1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #37474F;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #546E7A;
  }