<div *ngIf="candidate">
  <div id="topbar">
    <app-page-sidebar [userIsAuthenticated]="true"></app-page-sidebar>
  </div>
  <div class="flex-profile">
    <div id="info-area">
      <div class="header-profile"></div>
      <!-- Background cover -->
      <div class="cover">
        <div class="cover-image">
          <img
            class="cover-image"
            src="../../assets/The-Industrialist.png"
            alt="cover"
          />
        </div>
        <!-- Avatar -->
        <div class="cover-info">
          <div class="avatar">
            <div class="image-container">
              <!-- This one is to pick image, and I will do that later -->
              <!-- <img
                [src]="candidate.image_url"
                alt="avatar"
                (click)="filePicker.click()"
              /> -->
              <img
                [src]="defaultImageURL"
                *ngIf="defaultImageURL !== '' && defaultImageURL"
                alt="avatar"
                (click)="filePicker.click()"
              />
              <input type="file" #filePicker (change)="onImagePicked($event)" />
            </div>
            <!-- Diplay_name -->
            <div class="display-name">
              <div class="edit-activate" *ngIf="!allowEdit">
                <h6>
                  <strong>{{ candidate.display_name }}</strong>
                </h6>
              </div>
              <div class="edit-activate" *ngIf="allowEdit">
                <label for="name">Name:</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  [(ngModel)]="candidate.display_name"
                />
              </div>
            </div>
            <!-- Resume.title -->
            <div class="display-title">
              <div
                class="edit-activate"
                *ngIf="!allowEdit && candidate.resume.title"
              >
                <p>{{ candidate.resume.title }}</p>
              </div>
              <div class="edit-activate" *ngIf="allowEdit">
                <label for="title">Title:</label>
                <input
                  class="form-control"
                  id="title"
                  type="text"
                  [(ngModel)]="candidate.resume.title"
                />
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="cover-user-info">
            <div class="one-line-info" *ngIf="candidate.email">
              <i class="material-icons md-24">email</i>
              <p>{{ candidate.email }}</p>
            </div>
            <!-- Phone -->
            <div class="one-line-info" *ngIf="!allowEdit && candidate.phone">
              <i class="material-icons md-24">local_phone</i>
              <p>{{ candidate.phone }}</p>
            </div>
            <div class="edit-activate" *ngIf="allowEdit">
              <label for="phone">Phone:</label>
              <input
                class="form-control"
                id="phone"
                type="text"
                [(ngModel)]="candidate.phone"
              />
            </div>
            <!-- Resume.github -->
            <div class="one-line-info" *ngIf="candidate.resume.github">
              <span
                ><img
                  src="../../assets/github-icon.png"
                  alt="github-icon"
                  style="width:25px"
              /></span>
              <p></p>
            </div>
            <!-- Resume.linked -->
            <div *ngIf="candidate.resume.linkedin" class="one-line-info">
              <span
                ><img
                  src="../../assets/linkedin-icon.png"
                  alt="linkedin-icon"
                  style="width:25px"
              /></span>
              <p></p>
            </div>
          </div>
        </div>

        <button
          id="btn-update-info"
          class="btn btn-info"
          (click)="onEditButton()"
        >
          Edit profile
        </button>
        <button
          *ngIf="true == false"
          id="btn-update-info"
          class="btn btn-info"
          [routerLink]="['/main', user$._id, 'edit']"
        >
          Update your Résume
        </button>
      </div>

      <section id="info">
        <p style="margin-bottom: 3px">
          You have joined us since: {{ candidate.created | date: "mediumDate" }}
        </p>
      </section>
    </div>
  </div>
</div>
