<section id="Contact">
  <h3>Contact Infomation</h3>
  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Your name" value="{{resume$.contact.name}}" [(ngModel)]="resume$.contact.name">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Title" value="{{resume$.contact.title}}" [(ngModel)]="resume$.contact.title">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Summary" value="{{resume$.contact.summary}}" [(ngModel)]="resume$.contact.summary">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Phone number" value="{{resume$.contact.phone}}" [(ngModel)]="resume$.contact.phone">
    </mat-form-field>
  </div>

  <div class="item">
      <mat-form-field>
          <input matInput placeholder="Email" value="{{resume$.contact.email}}" [(ngModel)]="resume$.contact.email">
        </mat-form-field>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Facebook URL</span>
      <span class="border"></span>
    </label>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Github URL</span>
      <span class="border"></span>
    </label>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">LinkedIn URL</span>
      <span class="border"></span>
    </label>
  </div>

  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <div class="item">
    <a routerLink='experience' class="btn btn-danger float-right">Next</a>
  </div> -->
</section>
<br>

<section id="Experience">
  <h3>Experience</h3>
  <div class="list-experience">
    <ul>
      <li *ngFor="let item of resume$.experience">
        <div class="row">
          <div class="col-md-10">
            <a routerLink="details/{{item.id}}">{{item.company_name}}</a>
            <p>{{item.title}}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger float-right" (click)='deleteExperience(item.id)'>x</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience" (click)='addNewExperience()'>
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>

<section id="Education">
  <h3>Education</h3>
  <div id="list-education">
    <ul>
      <li *ngFor="let item of education$">
        <div class="row">
          <div class="col-md-10">
            <a routerLink="details/{{item.id}}">{{item.school}}</a>
            <p>{{item.startDate}}</p>
            <p>{{item.endDate}}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger float-right" (click)='deleteExperience(item.id)'>x</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience">
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>

<section id="Project">
  <h3>Project</h3>
  <div id="list-Project">
    <ul>
      <li *ngFor="let item of project$">
        <div class="row">
          <div class="col-md-10">
            <a routerLink="details/{{item.id}}">{{item.school}}</a>
            <p>{{item.startDate}}</p>
            <p>{{item.endDate}}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger float-right" (click)='deleteExperience(item.id)'>x</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience">
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>

<section id="Skill">
  <h3>Skill</h3>
  <div id="list-skills">
    <ul>
      <li *ngFor="let item of education$">
        <div class="row">
          <div class="col-md-10">
            <a routerLink="details/{{item.id}}">{{item.school}}</a>
            <p>{{item.startDate}}</p>
            <p>{{item.endDate}}</p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger float-right" (click)='deleteExperience(item.id)'>x</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience">
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
