:host {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    .flexbox-container {
      display: flex-collumn;
    }
  
    .item {
      p {
        margin-bottom: 0px;
        margin-top: 10px;
      }
  
      input {
        width: 100%;
      }
  
    }
  }
  