<section id="Contact">
  <h3>Contact Infomation</h3>
  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Your name" value="{{resume$.contact.name}}" [(ngModel)]="resume$.contact.name">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Title" value="{{resume$.contact.title}}" [(ngModel)]="resume$.contact.title">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Summary" value="{{resume$.contact.summary}}" [(ngModel)]="resume$.contact.summary">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Phone number" value="{{resume$.contact.phone}}" [(ngModel)]="resume$.contact.phone">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Email" value="{{resume$.contact.email}}" [(ngModel)]="resume$.contact.email">
    </mat-form-field>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Facebook URL</span>
      <span class="border"></span>
    </label>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">Github URL</span>
      <span class="border"></span>
    </label>
  </div>

  <div class="item">
    <label for="inp" class="inp">
      <input type="text" id="inp" placeholder="&nbsp;">
      <span class="label">LinkedIn URL</span>
      <span class="border"></span>
    </label>
  </div>

  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <div class="item">
    <a routerLink='experience' class="btn btn-danger float-right">Next</a>
  </div> -->
</section>
<br>

<section id="Experience">
  <h3>Experience</h3>
  <div class="list-experience">
    <ul>
      <li *ngFor="let item of resume$.experience">
        <div>
          <a [routerLink]="xxx" (click)="openDetail(item,'Experience')">{{item.company_name}}</a>
          <p>{{item.title}}</p>
        </div>
        <button class="btn btn-danger float-right" (click)='deleteObjectByID(item._id,"Experience")'>x</button>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience" (click)='addNewObject("Experience")'>
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>


<section id="Project">
  <h3>Project</h3>
  <div class="list-project">
    <ul>
      <li *ngFor="let item of resume$.project">
            <a [routerLink]="xxx" (click)="openDetail(item,'Project')">{{item.name}}</a>
            <button class="btn btn-danger float-right" (click)='deleteObjectByID(item._id,"Project")'>x</button>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Project" (click)='addNewObject("Project")'>
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>
<section id="Education">
  <h3>Education</h3>
  <div class="list-education">
    <ul>
      <li *ngFor="let item of resume$.education">

        <div class="school-date">
          <a [routerLink]="xxx" (click)="openDetail(item,'Education')">{{item.school_name}}</a>
          <p>{{item.major}}</p>
        </div>

        <button class="btn btn-danger float-right" (click)='deleteObjectByID(item._id,"Education")'>x</button>
      </li>
    </ul>
  </div>

  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Educational" (click)='addNewObject("Education")'>
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
<br>
<br>
<br>


<section id="Skill">
  <h3>Skill</h3>
  <div class="list-skills">
    <ul>
      <li *ngFor="let item of resume$.skill">
            <a [routerLink]="xxx" >{{item}}</a>
            <button class="btn btn-danger float-right" (click)='deleteSkill(item)'>x</button>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Skill" (click)='addNewSkill()'>
  </div>
  <!-- <div class="item">
    <input type="button" class="btn btn-outline-danger preview" value="Preview">
  </div>

  <a routerLink="/objective" class="btn btn-debug float-left">Previous</a>
  <a routerLink="/education" class="btn btn-danger float-right">Next</a> -->
</section>
