<div id="header-preview">
  <h4>Preview</h4>
</div>
<div id="background-editor">
  <div id="cv-area">
    <div id="a4-zone">
       <div id="contact-area" class="text-center">
        <h2><strong>{{resume.contact.name}}</strong></h2>
        <p>{{resume.contact.phone}}</p>
        <p>{{resume.contact.email}}</p>

      </div>

       <h5><strong>Experience</strong></h5> 
     <div id="experience-area" *ngFor="let experienceItem of experiences">
        <div id="experience-company-location">
          <p id="companyName"><strong>{{resume.experienceItem.companyName | uppercase}}</strong></p>
          <p id="location">{{resume.experienceItem.location}}</p>
        </div>
        <div id="experience-position-time">
          <p><strong>{{resume.experienceItem.position}}</strong></p>
          <p>{{resume.experienceItem.startMonth|date:'MMMM'}}-{{resume.experienceItem.startYear}} -
            {{resume.experienceItem.endMonth|date:'MMMM'}}-{{resume.experienceItem.endYear}}</p>
        </div>
        <div id="experience-description">
          <ul>
            <li *ngFor="let item of experienceItem.description">{{item}}</li>
          </ul>
        </div> 
      </div>
    </div>
    <br>
  </div>
</div>
