<nav>
  <ul>
    <li>
      <a id="logo" [routerLink]="['/']" class="float-left"><strong>CV-Angular</strong></a>
    </li>
    <li>
      <a routerLink="/about" class="float-right">About us</a>
    </li>
      <li *ngIf="!userIsAuthenticated">
        <a routerLink="/login" class="float-right">Sign in</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a routerLink="/login" class="float-right">Log out</a>
      </li>
    <li >
      <a routerLink="/profile/{{userID}}" class="float-right">Profile</a>
    </li>
  </ul>
</nav>
