<div class="job-description" style=" background: #e9e9e9;">
  <div class="container">
    <div class="row job-des-header" style="border: 1px solid #d8d8d8;background-color: #fff ">
      <div class="cover-images-desktop">
        <div class="logo">
          <img
            width="100%"
            alt="FPT Software Headline Photo"
            [src]="imageURL_company"
          />
        </div>
      </div>
      <div class="company-info">
        <div class="logo">
          <a routerLink=""><img alt="Logo" [src]="imageURL" /> </a>
        </div>
        <div class="employer-info">
          <div style="float: right;padding: 50px 50px;">
            <button type="button" class="btn-format btn btn-danger ">
              Add a review
            </button>
            <button type="button" class="btn-format btn btn-outline-secondary ">
              Follow
            </button>
          </div>
          <div class="name">
            <div class="company-name">
              <a href="">
                <p>{{ company_name }}</p>
              </a>
            </div>
          </div>
          <div class="basic-info">
            <div class="city-icon short">
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Ho Chi Minh, Da
              Nang, Ha Noi
            </div>
            <div class="country-icon short">
              <i class="far fa-flag"></i>&nbsp;&nbsp;Viet Nam
            </div>
            <p class="gear-icon short">
              <i class="fas fa-cogs"></i>&nbsp;&nbsp;Outsourcing
            </p>
            <p class="group-icon short">
              <i class="fas fa-users"></i>&nbsp;&nbsp;51-150
            </p>
            <div class="working-date short">
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;Monday - Friday
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row company-container">
      <div class="col-md-8" style="background-color: red">Tabs................</div>
      <div class="col-md-4" style="background-color: blue">XYZ</div>
    </div>
    
  </div>
</div>
