<div id="background">
  <button routerLink="/login" class="btn btn-danger">Try your first CV</button>

  <div id="default-thumbnail">
    <div class="image-custom" style="margin-left: 70px; margin-right: 70px">
      <img routerLink="/login" src="../../assets/Default.PNG" alt="Default">
      <a routerLink="/login"><strong>Default template</strong></a>
    </div>
    <div class="image-custom" style="margin-left: 70px; margin-right: 70px">
      <img routerLink="/login" src="../../assets/Design.PNG" alt="Design-red">
      <a routerLink="/login"><strong>Design red template</strong></a>
    </div>
    <div class="image-custom" style="margin-left: 70px; margin-right: 70px">
      <img routerLink="/login" src="../../assets/Design-blue.PNG" alt="Desgin-blue">
      <a routerLink="/login"><strong>Design blue template</strong></a>
    </div>
    <div class="image-custom" style="margin-left: 70px; margin-right: 70px">
      <img routerLink="/login" src="../../assets/Blue-1.PNG" alt="Desgin-blue-1">
      <a routerLink="/login"><strong>Design blue top template</strong></a>
    </div>
    <div class="image-custom" style="margin-left: 70px; margin-right: 70px">
      <img routerLink="/login" src="../../assets/Red-1.PNG" alt="Desgin-red-1">
      <a routerLink="/login"><strong>Design red top template</strong></a>
    </div>
  </div>
</div>
