:host() {
  #job-image {
    img {
      margin: 10px 5px 10px 5px;
      max-height: 50vh;
      max-width: 53.3vh;
    }

    border-bottom: 1px solid rgba(68, 87, 97, 0.178);
  }

  #contact {
    #text-area {
      margin: 20px;
      display: flex;
      flex-wrap: wrap;

      a {
        font-size: 13px;
        margin: 20px 15px 0px 12px;
        text-decoration: none;
        color: #37474F;
      }
    }
    #title{
        p{
            margin: 25px;
            color: #37474F;
            margin-bottom: 0px;
        }
    }
  }

}
