:host() {
  box-shadow: 30px 30px #494747;
  font-family: Roboto, Helvetica, sans-serif;
  overflow: hidden;
  padding: 1cm;
  #design-template{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    #highlight{
      height: 100%;
      width: 100%;
      flex: 3;
      background:rgb(224, 61, 49);
    }
    #main{
      height: 100%;
      width: 100%;
      flex: 7;
    }
  }


}
