<div id="design-template">
  <!-- --------------------------highlight-------------------------------- -->
  <div id="highlight">
    <div id="contact">
      <div class="title">
        <h6>Contact Infomation</h6>
      </div>
      <div id="contact-info">
        <h6><strong>Email</strong></h6>
        <p>{{user.email}}</p>
        <h6><strong>Phone</strong></h6>
        <p>{{ user.phone }}</p>
        <h6><strong>LinkedIn</strong></h6>
        <p>{{ resume.linkedinURL }}</p>
        <h6><strong>Github</strong></h6>
        <p>{{ resume.githubURL }}</p>
        <h6><strong>Website</strong></h6>
        <p>{{ resume.webpageURL }}</p>
      </div>
    </div>

    <div id="skill">
      <div class="title">
        <h6>Skill</h6>
      </div>
      <div *ngFor="let item of resume.skill" id="skill-item">
        <ul>
          <li>{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- --------------------------highlight-------------------------------- -->

  <!-- --------------------------main-------------------------------- -->
  <div id="main">
    <div id="name">
      <h1>{{ user.fullName }}</h1>
    </div>
    <p id="resume-title"><strong><em>{{resume.title}}</em></strong></p>
    <!-- summary -->
    <div id="summary-area" *ngIf="resume.summary && resume.summary.length" (click)="sendData('Summary')">
      <h5><strong>Summary</strong></h5>
      <div class="summary-item">
        <p>{{ resume.summary }}</p>
      </div>
    </div>
    <!-- --experience-- -->
    <div id="experience-area" *ngIf="resume.experience && resume.experience.length" (click)="sendData('Experience')">
      <h5><strong>Experience</strong></h5>
      <div id="experience-content" *ngFor="let item of resume.experience">
        <div id="company">
          <p id="companyName"><strong>{{item.company_name | uppercase}}</strong></p>
          <p id="location"><strong>{{item.location}}</strong></p>
          <p><strong>{{item.startMonth | convertToMonth}}-{{item.startYear}}</strong></p>
          <p *ngIf="item.current === false"><strong>{{item.endMonth| convertToMonth}}-{{item.endYear}}</strong></p>
          <p *ngIf="item.current === true"><strong>Current</strong></p>
        </div>
        <div id="detail">
            <p><strong>{{item.title}}</strong></p>
            <div id="experience-description">
                <div class="line-breaker"><p>{{item.description}}</p></div>
              </div>
        </div>
      </div>
    </div>
    <!-- --------------------------main-------------------------------- -->

  </div>
