<div id="signup-form">
  <!-- Sign up -->
    <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm">
      <div class="sign-up mat-experience alternate-theme">
        <h3 style="margin: 0 auto">Create account</h3>
        <mat-form-field>
          <input id="su_userName" matInput name="su_userName" required placeholder="Name" [(ngModel)]="su_name"
            minlength="4" #su_userName="ngModel">
          <mat-error *ngIf="su_userName.invalid && (su_userName.dirty || su_userName.touched)">
            <div *ngIf="su_userName.errors.required">
              Name is required.
            </div>
            <div *ngIf="su_userName.errors.minlength">
              Name must be at least 4 characters long.
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="su_userPhone" matInput name="su_userPhone" required placeholder="Phone number" required pattern="^[0-9]\d*(\.\d+)?$"
            [(ngModel)]="su_phone" maxlength="11" #su_userPhone="ngModel">
          <mat-error *ngIf="su_userPhone.invalid && (su_userPhone.dirty || su_userPhone.touched)">
            <div *ngIf="su_userPhone.errors.required">
              Phone is required.
            </div>
            <div *ngIf="su_userPhone.errors.pattern">
              Invalid
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="su_userEmail" matInput name="su_userEmail" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
            placeholder="Email" [(ngModel)]="su_email" #su_userEmail="ngModel">
          <mat-error *ngIf="su_userEmail.invalid && (su_userEmail.dirty || su_userEmail.touched)">
            <div *ngIf="su_userEmail.errors.required">
              Email is required.
            </div>
            <div *ngIf="su_userEmail.errors.pattern">
              Invalid! Email: xxx@xxx.xxx
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="su_userPassword" matInput name="su_userPassword" placeholder="Password" required required
            [(ngModel)]="su_password" [type]="hide ? 'password' : 'text'" #su_userPassword="ngModel">
          <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,15}$"  minlength="6"-->
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

          <mat-error *ngIf="su_userPassword.invalid && (su_userPassword.dirty || su_userPassword.touched)">
            <div *ngIf="su_userPassword.errors.required">
              Password is required.
            </div>
            <div *ngIf="su_userPassword.errors.pattern">
              Password must be 8-16 characters: Include at least one lowercase letter, one uppercase letter, a
              number, special characters
              #$^+=!*()@%&
            </div>
            <div *ngIf="su_userPassword.errors.minlength">
              Password must be at least 8 characters long.
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="su_confirm" type="password" required placeholder="Enter your password again"
            [(ngModel)]="su_confirm">
        </mat-form-field>


        <mat-dialog-actions>
          <button mat-button *ngIf="!isLoading_signUp" type="submit" class="mat-raised-button mat-primary"
            cdkFocusInitial>Sign up</button>
          <mat-spinner mode="indeterminate" [diameter]="30" *ngIf="isLoading_signUp"></mat-spinner>
        </mat-dialog-actions>
      </div>
    </form>
</div>
