:host() {
  .container-fluid{
    padding: 0;
    margin: 0;
    display: flex;
  }
  .side-bar{
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
  }
  .content{
    float: left;
  }
}
