<div class="recruiter">
  <div class="container-fluid">
    <div class="col-md-2">
      <nav class="side-bar">
        <div class="image">
          <img [src]="image_url" alt="" />
        </div>
        <div class="name">
          <a href="">{{ company_name }}</a>
        </div>
        <div class="navigation">
          <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Content1</a></li>
            <li><a href="">Content2</a></li>
            <li><a href="">Subcribed</a></li>
            <li><a href="">Make clear</a></li>
            <li><a href="">Make clear</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content col-md-7">
      <h3>Just a content</h3>
      <h1>Don't care please</h1>
    </div>
    <div class="right-bar col-md-3">
      <h3>Just a ad</h3>
      <h1>Don't care please</h1>
    </div>
  </div>
</div>
