<div class="recruiter">
  <div class="container-fluid">
    <div class="col-md-2">
      <nav class="side-bar">
        <div class="image">
          <img [src]="image_url" alt="" />
        </div>
        <div class="name">
          <a href="">{{ company_name }}</a>
        </div>
        <div class="navigation">
          <ul>
            <li><a routerLink="./dashboard">Dashboard</a></li>
            <li><a routerLink="./create-post">Create post</a></li>
            <li><a routerLink="./review">Review</a></li>
            <li><a routerLink="./subcriber">Subcribed</a></li>
            <li><a routerLink=".">Search</a></li>
            <li><a routerLink=".">Log out</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="right-bar col-md-3">
      <h3>Just a ad</h3>
      <h1>Don't care please</h1>
    </div>
  </div>
</div>
