<div id="topbar">
  <app-page-sidebar [userIsAuthenticated]="true"></app-page-sidebar>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="General">
    <p>Hello and welcome to ...</p>
    <p>This page will help you create your own Resume as good as possible</p>
    <p>
      This page is our pre-final project, so if you curious about us, please
      take time to see another two tab
    </p>
  </mat-tab>
  <mat-tab label="Do Quoc Viet"></mat-tab>
  <mat-tab label="Nguyen The Vinh"></mat-tab>
</mat-tab-group>
