<div id="login-form">
  <!-- Sign in -->
  <form (submit)="onSignIn(signInForm)" #signInForm="ngForm">
    <header>
      <h3>Login with Account</h3>
    </header>
    <button id="btn-login-google" class="btn btn-default"><span><img src="../../assets/google-icon.png" alt="Google-icon"></span>
      Login with Google account</button>
    <br><br>
    <mat-form-field>
      <input matInput id="email" name="email" required placeholder="Email" [(ngModel)]="si_email">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="password" placeholder="Password" required [type]="hide ? 'password' : 'text'" [(ngModel)]="si_password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button type="submit" class="mat-raised-button mat-primary" cdkFocusInitial>Login</button>
      <mat-spinner mode="indeterminate" [diameter]="30" *ngIf="isLoading_signUp"></mat-spinner>
    </mat-dialog-actions>
  </form>
  <a routerLink="../signup">Create new account</a>

</div>